* {
    color: #FAFAFA;
}

body {
    font-family: Roboto-Regular;
    font-size: 16px;
}

.content-app {
    margin-top: 80px;
}

.mask-blur {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
}

.mask-blur.active {
    visibility: visible;
    opacity: 1;
}

.flat-btn,
.raised-btn,
.action-button {
    margin: 0;
    padding: 0;
    min-height: 36px;
    min-width: 88px;
    white-space: nowrap;
    line-height: 36px;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.flat-btn {
    background: 0 0;
}

.flat-btn:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.flat-btn-primary {
    color: #FAFAFA;
}

.flat-btn-success {
    color: #4CAF50;
}

.flat-btn-info {
    color: #01579B;
}

.flat-btn-warning {
    color: #BF360C;
}

.raised-btn {
    color: #FAFAFA;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.raised-btn-primary {
    color: #212121;
    background-color: #FAFAFA;
}

.raised-btn-success {
    color: #212121;
    background-color: #4CAF50;
}

.raised-btn-info {
    background-color: #01579B;
}

.raised-btn-warning {
    background-color: #BF360C;
}

.action-button {
    min-width: 55.5px;
    min-height: 55.5px;
    border-radius: 50%;
    z-index: 1px;
    text-align: center;
    line-height: 54px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.action-button:hover {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.22);
}

.action-button-primary {
    color: #FAFAFA;
    background-color: #4CAF50;
}

.action-button-info {
    color: #FAFAFA;
    background-color: #01579B;
}

.action-button-warning {
    color: #FAFAFA;
    background-color: #BF360C;
}

.fixed-action-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
}
