.header {
    height: 64px;
    padding: 10px 45px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

@media (max-width: 768px) {
    .header {
        padding: 10px 15px;
    }
}

.header a.title {
    color: #FAFAFA;
    font-family: KnewaveOutline;
    font-size: 30px;
    position: relative;
    top: 13px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header a.title {
        font-size: 25px;
    }
}

.header .corporative-logo {
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 55px;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header .corporative-logo {
        height: 50px;
    }
}

.header .tools-container {
    float: right;
    height: 45px;
    margin-right: 25px;
    margin-top: 5px;
}

.header .tools-container i {
    font-size: 18px;
    color: #FAFAFA;
    cursor: pointer;
}

.header .tools-container button {
    font-size: 18px;
}

@media (max-width: 768px) {

    .header .tools-container {
        margin-right: 0px;
    }

    .header .tools-container .flat-btn {
        min-height: 29px;
        min-width: 75px;
    }
    .header .tools-container button {
        font-size: 15px;
    }
}
