<div class="powwow flex-container column" data-ng-style="{'background-image':'url('+obtainImageUrl()+')'}">
    <header class="powwow-header flex-container align-center">
        <img class="logo" data-ng-src="{{powwow.logo}}">
    </header>
    <section class="powwow-description">
        <h1 data-ng-bind="powwow.game"></h1>
        <div class="more-info flex-container center-content align-start">
            <i class="flaticon-video-game4"></i>
            <img ng-src="assets/icons/flags/{{powwow.language}}.png">
        </div>
        <p data-ng-bind="powwow.description"></p>
    </section>
    <footer class="powwow-footer flex-container align-space-around">
        <div class="user-cap" data-ng-repeat="slot in slots(powwow.slots)">
            <i class="glyphicon glyphicon-user"></i>
        </div>
    </footer>
</div>
