<div class="powwow">
    <header class="powwow-header flex-container align-start">
        <h1>Title</h1>
    </header>
    <section class="powwow-description">
        <span>Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you.</span>
    </section>
    <footer class="powwow-footer flex-container align-space-around">
        <div class="user-cap">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="user-cap">
            <i class="glyphicon glyphicon-user"></i>
        </div>
        <div class="user-cap">
            <i class="glyphicon glyphicon-user"></i>
        </div>
    </footer>
</div>
