<section class="container" data-ng-controller="PowwowsController">
    <div class="page-header">
        <h1>New Powwow</h1>
    </div>
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
        <fieldset>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="creator">Creator</label>
                <div class="controls col-md-8">
                    <input class="form-control" data-ng-model="creator" id="creator" placeholder="John" required type="text"></input>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="game">Game</label>
                <div class="controls col-md-8">
                    <input class="form-control" data-ng-model="game" id="game" placeholder="Rocket League" required type="text"></input>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="platform">Platform</label>
                <div class="controls col-md-8">
                    <input class="form-control" data-ng-model="platform" id="platform" placeholder="PS4" required type="text"></input>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="description">Description</label>
                <div class="controls col-md-8">
                    <textarea class="form-control" data-ng-model="description" id="description" placeholder="Play w/me some ranked 3v3s" required></textarea>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="slots">Slots</label>
                <div class="controls col-md-8">
                    <input class="form-control" data-ng-model="slots" id="slots" placeholder="2" required type="number"></input>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="language">Language</label>
                <div class="controls col-md-8">
                    <input class="form-control" data-ng-model="language" id="language" placeholder="en_US" required type="text"></input>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="time">Time</label>
                <div class="controls col-md-8">
                    <input class="form-control" data-ng-model="time" id="time" placeholder="Name" required type="date"></input>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4" for="timeZone">Time zone</label>
                <div class="controls col-md-8">
                    <input class="form-control" data-ng-model="timeZone" id="timeZone" placeholder="CEST" required type="text"></input>
                </div>
            </div>
            <div class="form-group col-md-12">
                <input class="btn btn-default pull-right" type="submit">
            </div>
            <div class="text-danger" data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>
