<section data-ng-controller="PowwowsController" data-ng-init="find()">
    <section class="powwows-header flex-container">
        <div class="search-container flex-container align-center">
            <input placeholder="Search" ng-model="searchText">
        </div>
    </section>
    <section class="powwows-list flex-container align-space-around row-wrap">
        <div class="powwow-animation" data-powwow="powwow" data-ng-repeat="powwow in powwows | filter:searchText"></div>
    </section>
    <!-- <div class="alert alert-warning text-center" data-ng-hide="!powwows.$resolved || powwows.length">
    	No Powwows yet, why don't you <a href="/#!/powwows/create">create one</a>?
    </div> -->
    <section class="fixed-action-button">
        <button class="action-button action-button-primary" ng-click="goTo('createPowwow')">
            <i class="material-icons">add</i>
        </button>
    </section>
</section>
